:root {
    --item-background-color: rgba(128, 77, 10, 0.753);
    --item-border: solid 2px rgb(68, 47, 9);
    --color: rgb(255, 255, 255);
    --article-border: solid 2px black;
    --article-background: rgb(201, 201, 165);
}

body {
    background-image: url(/img/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}




.wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 100px minmax(400px, auto);
    grid-template-areas:

        "hd hd"
        "nv mn"
        "ft ft"
    ;
}

header {
    grid-area: hd;
}

nav {
    grid-area: nv;
}

main {
    grid-area: mn;
}

footer {
    grid-area: ft;
}

a {
    color: var(--color);
    text-decoration: none;
}


header {
    color: var(--color);
    text-align: center;
    font-style: italic;
    font-size: larger;
}

nav {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.tak {
    background-color: var(--item-background-color);
    border: var(--item-border);
    color: var(--color);
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-radius: 5px;
    height: 50px;
}



.article1 {
    border: var(--article-border);
    background-color: var(--article-background);
    border-radius: 5px;
    padding: 10px;
    /* width: 900px; */


}
